.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;


  min-height: 360px;
  padding-top: 20px;
}
.mail {
  align-items: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  opacity: 0.5;
}
