.wrapper {
  display: flex;
  justify-content: space-between;
}
.button {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.01em;
}
.modalInner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 150px;
}
.modalInputBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.modalInput {
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
}
.modalCheckbox {
  display: flex;
  align-items: center;
}
.modalCheckboxText {
  margin-left: 10px;

  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.01em;

  opacity: 0.8;
}
