.radio {
  outline: none;
  height: 12px;
  width: 12px;
  appearance: none;
  cursor: pointer;
  border-radius: 100%;
  margin-top: 10px;
  background: rgb(252, 252, 252);
}

.radio:hover {
  opacity: 0.8;
}

.radio:checked {
  background: rgb(104, 91, 91);
}
