.radio {
  cursor: pointer;

  width: 12px;
  height: 12px;
  margin-top: 10px;

  background: rgb(252, 252, 252);
  border-radius: 100%;
  outline: none;

  appearance: none;
}

.radio:hover {
  opacity: 0.8;
}

.radio:checked {
  background: rgb(104, 91, 91);
}
