.select {
  cursor: pointer;

  width: 90px;
  margin: 5px;
  padding: 3px;

  font-size: 15px;
  color: white;

  background: rgb(131, 124, 124);
  background-image: url('iconForSelect.png');
  background-repeat: no-repeat, repeat;
  background-position: right 3px top 50%, 0, 0;
  background-size: 15px;

  appearance: none;
}

.select:focus {
  outline: none;
}

.option:checked {
  background: rgb(78, 74, 74);
}
